<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LESS Hint Report</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <h1>LESS Hint Report</h1>

  {{#each this}}
    <div class="container-fluid">
      <h2>{{@key}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Line</th>
            <th>Column</th>
            <th>Source</th>
            <th>Message</th>
          </tr>
        </thead>
        {{#each this}}
          <tr class="{{class}}">
            <td>{{line}}</td>
            <td>{{column}}</td>
            <td>{{source}}</td>
            <td>{{message}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  {{/each}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
